$max-width: 768px
$orasi-blue: #357BB9
.image-grid
  ul
    list-style: none
  img
    margin: 5px
    width: $max-width/3 - 20
    &.avatar
      width: 55px
.author-section
  display: inline-block
  .avatar
    display: table-cell
    width: 55px
    height: 55px
    padding-right: 20px
    img
      border-radius: 50%
  .author-name
    display: table-cell
    vertical-align: middle
.container
  margin: 0 auto
  max-width: $max-width
  text-align: center
.article-text
  text-align: justify
  text-indent: 20px
  font-size: 22px
.image-holder
  text-align: center
  max-width: $max-width - 30
  img
    margin: 20px auto
    max-width: $max-width - 30
.fixed-floating-left
  position: fixed
  left: 12px
  top: 50%
.fixed-floating-right
  position: fixed
  right: 12px
  top: 50%
#recipe-content
  text-align: left
.next-article-chevron
  font-size: 35px
.glyphicon
  color: $orasi-blue
.avatar-section
  padding: 20px
  border: 1px solid black
  border-radius: 10px
  margin: 20px 0
