$max-width: 768px
$orasi-blue: #357BB9
.image-grid
  margin: 0 auto
  ul
    list-style: none
    li > .tooltip
      z-index: 9999
  img
    margin: 5px
    width: $max-width/3 - 20
    &.avatar
      width: 90px
      height: 90px
.author-section
  display: inline-block
  .avatar
    display: table-cell
    padding-right: 20px
    img
      width: 55px
      height: 55px
      border-radius: 50%
  .author-name
    display: table-cell
    vertical-align: middle
.container
  margin: 0 auto
  max-width: $max-width
  text-align: center
.article-text
  text-align: justify
  text-indent: 20px
  font-size: 22px
.image-holder
  text-align: center
  max-width: $max-width - 30
  img
    margin: 20px auto
    max-width: $max-width - 30
.fixed-floating-left
  position: fixed
  left: 12px
  top: 50%
.fixed-floating-right
  position: fixed
  right: 12px
  top: 50%
#recipe-content
  text-align: left
.next-article-chevron
  font-size: 35px
.glyphicon
  color: $orasi-blue
.avatar-section
  margin: 20px auto
  box-shadow: 1px 1px 5px #888888
  padding: 10px
@media print
  #next-article-btn, #previous-article-btn, #home-link
    visibility: hidden
  a:after
    content: none !important
a#home-link
  background: $orasi-blue
  bottom: -2.5em
  left: 50%
  position: fixed
  border-radius: 50%
  font-size: 2.5em
  padding: .5em 1.5em 2.5em
  z-index: 9999
  margin-left: -1.9em
  .glyphicon
    margin-left: -1px
    color: white