@import '../bourbon/bourbon'
$max-width: 768px
$orasi-blue: #357BB9

@include keyframes(fadeIn)
  from
    opacity: 0
  to
    opacity: 1

.image-grid
  &.avatar-section
    margin: 20px auto
    box-shadow: 1px 1px 5px #888888
    padding: 10px
  margin: 0 auto
  ul
    list-style: none
    li > .tooltip
      z-index: 9999
  img
    margin: 5px
    width: $max-width/3 - 20
    &.loaded
      @include animation(fadeIn 1.0s ease-in)
    &.loading
      display: none
    &.avatar
      width: 90px
      height: 90px
.author-section
  display: inline-block
  .avatar
    display: table-cell
    padding-right: 20px
    img
      width: 55px
      height: 55px
      border-radius: 50%
  .author-name
    display: table-cell
    vertical-align: middle
.container
  margin: 0 auto
  max-width: $max-width
  text-align: center
.article-text
  text-align: justify
  text-indent: 20px
  font-size: 22px
.image-holder
  text-align: center
  width: 100%
  img
    margin: 20px auto
    width: 100%
.small-image
  width: 50%
  img
    margin: 20px auto
.centered
  // display: block
  margin-left: auto
  margin-right: auto
.fixed-floating-left
  position: fixed
  left: 12px
  top: 50%
.fixed-floating-right
  position: fixed
  right: 12px
  top: 50%
#recipe-content
  text-align: left
.next-article-chevron
  font-size: 35px
.glyphicon
  color: $orasi-blue
@media print
  #next-article-btn, #previous-article-btn, #home-link
    visibility: hidden
  a:after
    content: none !important
article
  padding-bottom: 5em
a#home-link
  background: $orasi-blue
  bottom: -2.5em
  left: 50%
  position: fixed
  border-radius: 50%
  font-size: 2.5em
  padding: .5em 1.5em 2.5em
  z-index: 9999
  margin-left: -2em
  .glyphicon
    margin-left: -1px
    color: white
.floating-article-image
  max-height: 400px
  padding: 20px
  float: left
  &.left
    float: left
  &.right
    float: right
#o
  cursor: text
  color: black
  text-decoration: none
  &:hover
    text-decoration: none
    color: black
  &:visited
    text-decoration: none
    color: black
  &:active
    text-decoration: none
    color: black
.youtube-video
  width: 100%
.bold-table
  text-align: center
  width: 100%
  font-weight: bold
  border: 1px solid black
  font-size: 1.5em
.border
  border: 1px solid black
.member-table
  width: 80%
  margin-left: 10%
  margin-right: 10%
  text-align: center
  column-width: fixed
  font-size: 1.1em
  font-weight: bold
.quote
  font-style: oblique
  font-weight: bold
  font-size: 1.25em
  color: green
.list-item
  text-align: left
  font-size: 20px
.l
  text-align: left
.r
  text-align: right
.c
  text-align: center
  margin-left: auto
  margin-right: auto
.b
  font-weight: bold
.i
  font-style: italic
.u
  text-decoration: underline
.blue
  color: blue
.orasi-blue
  color: $orasi-blue
ul
  text-align: left
ol
  text-align: left
.two_columns
  columns: 2
  -webkit-columns: 2
  -moz-columns: 2
.no-bullets
  list-style-type: none
.inline
  display: inline-block
.award-winners
  width: 70%
  margin-left: auto
  margin-right: auto
  tr
    width: 100%
    td
      width: 50%
.eighty
  margin-left: auto
  margin-right: auto
  width: 80%