.card
  .header-image{style: "background-image: url('../img/atl_events/botanical_garden.jpg');background-position-y: -125px;"}
  .details
    %h3 Atlanta Botanical Garden: Until October 1st
    %span
      "Imaginary Worlds: New Kingdom of Plant Giants" brings 28 giant topiary sculptures including four frogs, three
      gorillas and a pair of ogling orangutans.
      %a{href: 'http://atlantabotanicalgarden.org/'} http://atlantabotanicalgarden.org/
.card
  .header-image{style: "background-image: url('../img/atl_events/gwinnett.jpg');background-position-y: -30px;"}
  .details
    %h3 Gwinnett Center International Film Festival: August 1-3
    %span
      %a{href: 'http://www.gcifilmfest.com/'} http://www.gcifilmfest.com/
.card
  .header-image{style: "background-image: url('../img/atl_events/dream_cars.jpg');background-position-y: -200px;"}
  .details
    %h3 Dream Cars Exhibition - Until September 7th
    %span
      Dream Cars-The exhibition will display conceptual drawings and scale models in addition to the concept cars,
      demonstrating how their experimental designs advanced ideas of progress and changed the automobile from an
      object of function to a symbol of future possibilities.
      %a{href: 'http://www.high.org/Art/Exhibitions/Dream-Cars.aspx'} http://www.high.org/Art/Exhibitions/Dream-Cars.aspx
.card
  .header-image{style: "background-image: url('../img/atl_events/piedmont.jpg');background-position-y: -0px;"}
  .details
    %h3 Piedmont Park Arts Festival 2014: August 16-17
    %span
      Named a Top 20 Event, this is the ideal summer festival to enjoy the outdoors, browse for irresistible art and
      crafts as well as appreciate the beauty of Atlanta's largest park. Visitors will enjoy a wide variety of art.
      %a{href: 'http://www.piedmontparkartsfestival.com/'} http://www.piedmontparkartsfestival.com/