%p.article-text
  We took a break from our Charity Initiative for a few months and have chosen to start back up with a food drive for
  Second Harvest Food Bank.  Second Harvest is primarily a food distribution program that serves as the major source
  of food and grocery products for food pantries, shelters, soup kitchens and special feeding programs for children and
  seniors across northwest North Carolina. They also provide a number of special programs to address specific needs and
  support longer-term solutions to the problem of hunger, such as Child Hunger, Food and Nutrition Services (FNS)
  Outreach, Nutrition Education Services, Triad Community Kitchen Program, Mobile Pantry Distribution Program, and
  Disaster Relief.
%p.article-text
  In the past, all of our activities have had a price associated to participate.  This allows us to raise funds for the
  charity as well as sponsor prizes for the competitions.  During this charity drive, we are accepting food donations as
  well as monetary donations for participation in the scheduled events.  Some of these events include: Dress Down
  Friday's, Movie & Popcorn, Bake Sale, Pie a Manager, Food Frenzy (a food drive competition among managers and their
  functional teams), and an Ice Cream Social.
  .image-holder
    %img{src: "#{image_folder}/food_wars.jpg"}
%p.article-text
  We will sponsor Second Harvest Food Bank through the end of November.  This will ensure that our donations come at a
  crucial time to help with holidays and the end of the gardening season.  We are very excited to be working with Second
  Harvest Food Bank, and we hope to make a difference in our community.
  .image-holder
    %img{src: "#{image_folder}/opening.jpg"}