%ul.article-text
  %li I have 14 cousins total and am the youngest on both sides.
  %li I was once quarantined in a Chinese Hospital for "Swine Flu".
  %li I am right handed but left foot dominant.
  %li I have double jointed thumbs.
  %li I eat with plastic ware because I can taste the metal in silverware.
  %li I was once shocked by electricity cleaning a golf ball washer when I was 16.
%p.article-text
  Email your answer to
  %a{href: "mailto:alissa.taylor@orasi.com?subject=Guess who answer"} Newsletter Team