%p.article-text
  Manheim is a wholesale auction operation and is Orasi's oldest client partner, dating back to May 2002.
  Currently Orasi has 31 consultants (including 20 Full Time Employees) working on Manheim projects, and
  has had up to 50 consultants on the account in the past. Orasi employees are working on 19 different projects.
  Darren Sears, who is leading the efforts at Manheim, elaborated on some of them.
  %strong
    "The projects are a mix of both waterfall and agile methodologies, ranging from web apps, web services, AS/400, ETL/data warehouse,
    Oracle ERP and Oracle OBIEE reporting technologies.  In 2014 we've implemented and provided professional
    services for TurnKey, Grid Tools and ALM 11 to 11.52 upgrade and training services."
  .image-holder
    %img{src: "#{image_folder}/building.jpg"}
%p.article-text
  I had a chance to speak more in depth with one of our employees, Lewis Gordon, about his Manheim project,
  "Multi-Platform Selling". This is a data mapping project which entails inbound/outbound communications and
  includes several platforms. This has encompassed challenges to understanding the scope of other projects
  and their inner workings. Manheim is implementing Agile Testing Technologies into their projects using the
  testing tool "Mingle". Future automation projects will also be implementing other tools, specifically Ruby
  and Cucumber.   As always, Orasi will continue to strive for excellent customer service and maintain a strong
  partnership with our oldest client.