#recipe-content
  %h3 Ingredients:
  %ul.ingredients
    %li 2 cups flour
    %li 2 cups sugar
    %li 2 t. soda
    %li 2 t. baking powder
    %li 3 cups grated carrots
    %li 2 t. cinnamon
    %li 1 t. salt
    %li 1 1/2 cup oil
    %li 4 eggs

  %h3 Directions:
  %p.article-text
    Mix oil and eggs.  Add carrots.  Mix dry ingredients and add to carrot mixture.  Pour into 3" x 8" greased cake pan or
    sheet pan.  Bake at 350 degrees for 25 to 30 minutes.

  %h3 Cream Cheese Topping

  %h3 Ingredients:
  %ul.ingredients
    %li 1 8-oz package of cream cheese
    %li 1 stick of unsalted butter
    %li 2 t. Pure vanilla extract
    %li 1 box confectioners' sugar
    %li 1 cup chopped nuts

  %h3 Directions:
  %p.article-text
    Beat and spread on cake.  Top with chopped nuts (optional).