.card
  .header-image{style: "background-image: url(http://targetaudiencemagazine.com/wp-content/uploads/2013/05/Atlanta-Jazz-Festival-Color-Logo1-1024x407.jpg);background-position-y: -125px;"}
  .details
    %span this is a test