%hr
%p.article-text
  Kristi and Chris Collins – Congratulations on the birth of Lennon Marie Collins. She was Born 11/9/2014 at 8:50am weighing 8lbs 6ounces and 19inches long.
%p.article-text
  .image-holder
    %img{src: '../img/announcements/baby1.jpg'}
%p.article-text
  .image-holder
    %img{src: '../img/announcements/baby2.jpg'}
%hr
%p.article-text
  Congratulations to Jasmine Powell daughter of Jamaica Powell, on graduating from Southwest Guilford High School! She will be attending GTCC in the Fall of 2015.
%p.article-text
  .image-holder
    %img{src: '../img/announcements/jasmine.jpg'}
%hr
%p.article-text
  Danny Mattice’s NES collection has now hit 250 games! Congrats to Danny and best of luck on his future collecting!
%p.article-text
  .image-holder
    %img{src: '../img/announcements/nintendo.jpg'}
