.author-section
  .avatar
    %img{src: "../#{get_avatar('jessica_marshall')}"}
  .author-name
    %h4
      by
      %span#author-name Jessica Marshall
%hr/
%p.article-text
  Waits & Sarah Avery – congratulations on the birth of Olivia Jane Avery.  She was born on 10/9, weighed 9lbs 3oz, and was 20.5 inches long.
  .image-holder
    %img{src: '../img/announcements/olivia_jane_avery.jpg'}
%hr/
%p.article-text
  Jordy & Kia Chambers – congratulations on their pregnancy, due May 2015. 
  .video-container
    %embed{:allowfullscreen => "true", :src => "//www.youtube.com/embed/L2fkXOXkq4c", :frameborder => "0", :width => "738", :height => "480"}
%hr/
%p.article-text
  Tim Glasson and Joey Wysosky successfully passed their ALM Certifications. Congratulations Tim and Joey!
%hr/
%p.article-text
  Joshua & Nicole Lee – congratulations on their marriage. They were married on October 10th, 2014.
  .image-holder
    %img{src: '../img/announcements/Joshua_and_Nicole_Lee.jpg'}
%hr/
%p.article-text
  Taylor & Julia Walser – congratulations on their pregnancy, due May 2015
  .image-holder
    %img{src: '../img/announcements/julia_baby.jpg'}