%p
	%a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2014-q4/', onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2014-q4/', 'newwindow', 'width=800, height=800'); return false;"} 2014 - 4th Quarter
%p
	%a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q1/', onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q1/', 'newwindow', 'width=800, height=800'); return false;"} 2015 - 1st Quarter
%p
	%a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/', onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/', 'newwindow', 'width=800, height=800'); return false;"} 2015 - 2nd Quarter
%p
	%a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q3/', onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q3/', 'newwindow', 'width=800, height=800'); return false;"} 2015 - 3rd Quarter