%p
	%a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2014-q4/'} 2014 - 4th Quarter
%p
	%a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q1/'} 2015 - 1st Quarter
%p
	%a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/'} 2015 - 2nd Quarter
%p
	%a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q3/'} 2015 - 3rd Quarter