%h2.b
  Atlanta Events
%hr
.card
  .header-image{style: "background-image: url('../img/atlanta_greensboro_events/smackdown.jpg');"}
  .details
    %h3 WWE Smackdown - Tuesday, February 24th
    %span
      WWE returns to Atlanta for the first time in 2015 with SmackDown! Come see your favorite WWE Superstars
      %p
        %a{href: 'http://www.philipsarena.com/'} Phillips Arena
.card
  .header-image{style: "background-image: url('../img/atlanta_greensboro_events/snow.jpg');"}
  .details
    %h3 Snow Mountain - thru Sunday, February 22nd
    %span
      Atlanta's official winter wonderland, just minutes from downtown. Here you'll find a snow-packed mountainside and action-packed excitement. Have a ball on five football fields of frosty joy, including 20 lanes of tubing.
      %p
        %a{href: 'http://www.stonemountainpark.com/'} Stone Mountain Park
.card
  .header-image{style: "background-image: url('../img/atlanta_greensboro_events/5k.jpg');"}
  .details
    %h3 Atlanta 5K: Mission to End Homelessness - Saturday, February 21st
    %span
      On February 21, 2015, a cold Saturday morning in Atlanta, thousands of men, women and children are going to take to the streets of downtown Atlanta to run a road race in the bitter cold. The city of Atlanta is home to over 10,000 homeless individuals, people who face the perilous conditions of winter without a roof over their heads. Atlanta Mission serves over 1,000 of these men, women and children every single day. The downtown men's shelter alone is a refuge for over 400 men on a daily basis. We hope you will join us this February as donors, volunteers, community members and Atlanta Mission clients run side by side in a race to end homelessness.
      %p
        %a{href: 'http://am.convio.net/site/TR?fr_id=1050&pg=entry'} Centennial Olympic Park
.card
  .header-image{style: "background-image: url('../img/atlanta_greensboro_events/hawks.jpg');"}
  .details
    %h3 Atlanta Hawks vs. Orlando Magic - Friday, February 27th
    %span
      The Atlanta Hawks take on the Orlando Magic on Feb. 27 at Philips Arena.

      %p
        %a{href: 'http://www.philipsarena.com/'} Phillips Arena
%hr
%h2.b
  Greensboro Events
%hr
.card
  .header-image{style: "background-image: url('../img/atlanta_greensboro_events/taylor.jpg');"}
  .details
    %h3 Taylor Swift - Wednesday, October 21st
    %span
      The 1989 World tour - TAYLOR SWIFT WITH VANCE JOY
      %p
        %a{href: 'http://www.greensborocoliseum.com/'} Greensboro Coliseum
.card
  .header-image{style: "background-image: url('../img/atlanta_greensboro_events/raisin.jpg');"}
  .details
    %h3 A Raisin in the Sun - February 13th - 28th
    %span
      The Community Theatre of Greensboro presents this groundbreaking play by Lorraine Hansberry. "A Raisin In The Sun" revolves around the divergent dreams and conflicts within three generations of the Younger family. The tensions and prejudice they face, mixed with the sacrifice, trust and love among the family and their heroic struggle to retain dignity in a harsh and changing world is a searing and timeless document of hope and inspiration
      %p
        %a{href: 'http://ctgso.org/'} Community Theatre of Greensboro
.card
  .header-image{style: "background-image: url('../img/atlanta_greensboro_events/haunts.jpg');"}
  .details
    %h3 Carolina History & Haunts Ghost Tour - Open all year long @ 8pm on Fridays, Saturdays, and full moons.
    %span
      90-minute historical ghost walking tour of Downtown Greensboro guided by the eerie glow of candlelight.
      %p
        %a{href: 'www.carolinahistoryandhaunts.com'} www.carolinahistoryandhaunts.com

%hr
