%p.article-text
  Based on the great feedback from last year’s party, Orasi’s Atlanta contingent again held its Christmas party at the Kennesaw office.  Employees and their significant other were invited to mix and mingle while they wined and dined.  The delicious catering included tenderloin and ham, hot and cold side dishes and dips, cheeses, scrumptious desserts from renowned Gabrielle’s Bakery and, of course, the requisite salad and fresh fruit for those disciplined enough to eat healthy during the holidays!  A bartender was on hand to mix up party-goers’ favorite thirst quenchers, but even she was no match for Nick’s famous Martini Bar.
  .image-holder
    %img{src: '../img/atlanta_christmas_party/martini_no_gallery.jpg'}
%p.article-text
  No Orasi gathering is complete without prize give-aways and Bill Hayden singing; this party was no exception.  Nick gave away an Apple TV, iPad, Beats headphones and a sound bar, and Bill serenaded the crowd with his very dignified rendition of “Get Drunk with Dignity”.  The after party continued late into the night at a local Mexican restaurant and, as always, a great time was had by all!
