.card
  .header-image{style: "background-image: url('../img/atl_events/cds.jpg');"}
  .details
    %h3 Amaluna from Cirque Du Soleil - Month of November
    %span
      Amaluna invites the audience to a mysterious island governed by Goddesses and guided by the cycles of the moon.
      %p
        %a{href: 'http://www.atlanta.net/events/detail/amaluna-from-cirque-du-soleil/92042/'} www.atlanta.net/events/detail/amaluna-from-cirque-du-soleil/92042/
.card
  .header-image{style: "background-image: url('../img/atl_events/hawks.jpg')"}
  .details
    %h3 Atlanta Hawks vs. Miami Heat - Friday, November 14th
    %span
      Don't miss out on the action as the Atlanta Hawks take on the Miami Heat on Nov. 14 at Philips Arena.
      %p
        %a{href: 'http://www.atlanta.net/events/detail/atlanta-hawks-vs-miami-heat/92690/'} www.atlanta.net/events/detail/atlanta-hawks-vs-miami-heat/92690/
.card
  .header-image{style: "background-image: url('../img/atl_events/thanksgiving_5k.jpg');"}
  .details
    %h3 Atlanta half marathon & Thanksgiving Day 5k - Thursday, November 27th
    %span
      Don't miss out on the action as the Atlanta Hawks take on the Miami Heat on Nov. 14 at Philips Arena.
      %p
        %a{href: 'http://www.atlanta.net/events/detail/atlanta-half-marathon-thanksgiving-day-5k/92615/'} www.atlanta.net/events/detail/atlanta-half-marathon-thanksgiving-day-5k/92615/
.card
  .header-image{style: "background-image: url('../img/atl_events/the_black_keys.jpg');"}
  .details
    %h3 The Black Keys - Thursday, December 11th
    %span
      The Black Keys are embarking on an extensive North American tour, and are coming to Atlanta! Touring in support of the duo's highly anticipated album, Turn Blue, The Black Keys will stop at Philips Arena on December 11.
      %p
        %a{href: 'http://www.atlanta.net/events/detail/the-black-keys/92081/'} www.atlanta.net/events/detail/the-black-keys/92081/