#-----USE THE FORMAT BELOW TO CREATE EACH EVENT ITEM-----
// .card
//   .header-image{style: "background-image: url('../img/article_image_folder/image_name.jpg');"}
//   .details
//     %h3 EVENT_TITLE - EVENT_TIME
//     %span
//       EVENT_DESCRIPTION
//       %p
//         %a{href: 'EVENT_URL'} EVENT_URL_DESCRIPTION
