%p.article-text We had two baby showers in the Greensboro office this quarter!
%p.article-text On April 4th, we hosted a diaper shower for Kia Chambers to welcome her baby girl Joia.  It was a fun time, we ate lots of delicious goodies and Kia was showered with lots of the essentials, diapers, wipes, books, etc.  We can’t wait to meet baby Joia!
%p.article-text We hosted the second baby shower for Julia Walser on 4/16 for her baby girl Parker.  We enjoyed lots of goodies and cupcakes.  Julia was also showered with many of the important essentials, and we also can’t wait to meet baby Parker!
%p.article-text Congratulations to both of our soon to be moms!!!
