%p.article-text
  Our autumn food /fund drive continues with our beneficiary Second Harvest Food Bank. What did we do in October?  The charity committee hosted the following events - Ice Cream Social, Pie a Manager, Bake Sale, Movie Day, Pancake Breakfast, and Dress Down Fridays. Our most popular and profitable event to date has been Pie a Manager, with a matching pledge provided by Virginia Vestal for every dollar and every item of food collected.
%p.article-text
  .image-holder
    %img{src: "#{image_folder}/article_1_no_gallery.jpg"}
%p.article-text
  While we all recognize that giving is important, there is a greater need than perhaps many of us realize.  Second Harvest Food Bank of Northwest NC and partners has seen an increase in those requesting assistance from 135,000 to nearly 300,000 people.  This means that 1 in every 6 people living in northwest North Carolina need help feeding themselves or their family.  This includes children as well as seniors with food insecurities – many who are not eligible for assistance from various government programs.  Second Harvest Food Banks and their partners are a vital, and in some cases the only, resource available to those in need.
%hr
%h2
  Tough Choices
%p.article-text
  Quick! Choose which of the following options are more important to you and your family:
  %table.bold-table
    %tr
      %td.border Rent/Mortgage
      %td.border Food
    %tr 
      %td.border Bus Fare/Car Payment
      %td.border Food
    %tr 
      %td.border Medicine/Medical Treatment
      %td.border Food
    %tr 
      %td.border Utilities
      %td.border Food
    %tr 
      %td.border Education
      %td.border Food
    %tr 
      %td.border Healthy Food
      %td.border Cheapest Food
%p.article-text
  Every day, members in your community are making these and other hard choices, trying to juggle feeding themselves or family members, having a place to live, getting to work, or medical care. 
%p.container.quote
  “There’s more than enough food in America to feed every man, woman and child, yet one in six people in Northwest NC struggles with hunger.” 
%hr
%h2
  Charity Committee
%p.article-text
  Your Greensboro Charity Committee created several new events along with existing favorites to help promote charitable giving.  Want to share an idea for an event?  Maybe you’d like to volunteer to join the committee, or perhaps help with individual events?  Come to a meeting and help by giving feedback or input on suggestions.  Speak to a member of the Charity Committee today!
%h3
  Members:
%table.member-table
  %tr
    %td Julia Walser
    %td Waightstill Avery
    %td Alissa Taylor
  %tr
    %td Nikki Eubanks
    %td Katie Chumbley
    %td Eric Trout
  %tr
    %td Linley Love
    %td Spenser Chamberlin
    %td Hope Isley
  %tr
    %td Erin Chipman
    %td 
    %td Joey Lane
%hr
%h2
  Upcoming Events
%p.article-text
  There will be short break from charitable events/activities during from mid-November to February, with one notable short-term exception.  An Angel Tree will be available for people interested in helping children and seniors by donating items or money to purchasing items.
%p.article-text
  Events will continue in November for dress down Friday, and a return of Bingo for the first two weeks of November.  The Angel Tree will also be available for individuals/teams who would like to select a child or senior to be remembered during the holiday season.
%p.article-text
  If you want to help, please remember to support our charities!
