%p.article-text
  The coding challenge has just finished its second season, which ran from April 1st through June 30th.  A total of
  1,829 submissions were made by 26 participants in this season's challenge.  The most active participant for
  Season 2 was Stan Herring, with 310 submissions.  The season's most successful participants were Ethan Bell,
  Jock Lanier, and Jonathan Doll, each of whom had 2 wins.  The following consultants had 5 or more successful
  submissions for Season 2:  Stanley Grooms, Brandon Sims, Jonathan Doll, Jock Lanier, Kevin Munro, and Ethan Bell.
.prizes.image-grid
  %img{src: '../img/coding_challenge/carowinds.jpg'}
  %img{src: '../img/coding_challenge/parrot.jpg'}
  %img{src: '../img/coding_challenge/ps4.jpg'}
%p.article-text
  The prizes up for grabs were a PlayStation 4, a Parrot Drone, and an inclusive trip for two to either Carowinds or
  Six Flags theme parks.  Season 2 winners were announced via live webcast and were:  Erin Dodd, Brandon Sims, and Jock
  Lanier.  Congratulations to all the winners!
%h2 Participants:
%ul.participants{style: 'text-align: left'}
  %li Lateef Livers
  %li Joshua Lee
  %li Ethan Bell
  %li Robert Meeks
  %li Travis Worth
  %li Sarath Medisetty
  %li Marella Satish
  %li Damien Storm
  %li Ahmed Syed
  %li Erin Dodd
  %li Jessica Marshall
  %li Stanley Grooms
  %li Yhung Mlo
  %li Santosh Chikkala
  %li Ramya Rajkumar
  %li Stan Herring
  %li Brandon Sims
  %li Miles Passell
  %li Kevin Munro
  %li Jock Lanier
  %li Jonathan Doll
  %li David Quach
  %li Gabriel Jackson
  %li Josh Jackson
  %li Leon Story
  %li William Lacy