%p.article-text
  Meet Jonathan Diaz, Orasi's most recent addition to Rural Testing. Jonathan went to UNC Chapel Hill and double majored in Computer Science and Communication Studies. He owns an authentic Japanese Katana, the superior weapon (only for self-defense as per Bushido code). He enjoys listening to music and his favorite album is Trout Mask Replica by Captain Beefheart and his Magic Band. Jonathan also likes playing videogames, and his favorite character is Donkey Kong. Welcome Jonathan!
%hr
%img.c{src: '../img/consultants/jonathan_diaz.gif'}
