%h2.b
  Fast Facts For Jonathan:
%ul
  %li.l He went UNC Chapel Hill and double majored in Computer Science and Communication Studies.
  %li.l His favorite album is Trout Mask Replica.
  %li.l He owns an authentic Japanese Katana, the superior weapon (only for self-defense as per Bushido code).
  %li.l His favorite videogame character is Donkey Kong.
%img.c{src: '../img/consultants/jonathan_diaz.gif'}
