%p.article-text
  Meet Jason Storey, Orasi's newest Rural Testing employee.  Jason has a bachelor's degree in Business Administration
  from UNCG and is currently working on his MS in Information Technology and Management.  Jason is an extremely laid
  back guy who enjoys relaxing outdoors and attempting the game of golf.  He likes to try new restaurants and says he
  will try any food once.  Welcome Jason!
.test
  %video{autoplay: true, loop: true}
    %source{src: '../img/consultants/jason.webm'}