.author-section
  .avatar
    %img{src: "../#{get_avatar('jonathan_gordon')}"}
  .author-name
    %h4
      by
      %span#author-name Joanthan Gordon
%hr/
%p.article-text
  On Saturday, October 4th, the Greensboro office held their company cookout at Bur-Mil Park in Greensboro.  The cookout was open to all Greensboro employees, their family members, and leashed pets.  Orasi provided barbecue, slaw, and buns from Country Barbecue while all attending signed up to bring a side dish to share with everyone.  
%p.article-text
  The weather made it a perfect day for a cookout and all of the activities that go along with it, such as football, frisbee, and playing on the playground.  The cookout provided a perfect venue for some of our employees to introduce us to new additions to their families. Michael Peterson and Kevin Hedgecock brought along their new babies, who were the highlight of the cookout.  Everyone that attended had great time, and we all look forward to the cookout next year!
  