.author-section
  .avatar
    %img{src: "../#{get_avatar('zachary_goins')}"}
  .author-name
    %h4
      by
      %span#author-name Zachary Goins
%hr/
%p.article-text
  While much of the outdoors looks dull and mundane in the winter months, adding a bird feeder to your yard is a great way to add color to an otherwise bleak looking winter environment.  Follow the steps below and start attracting birds to your yard today!
  .image-holder
    %img{src: '../img/dull_winter/.jpg'}
%p.article-text
  Red Bellied Wood Pecker
  %ol
    %li Locate a spot in your yard with easy viewing access from a window in your home. An open spot may be selected if you purchase a feeder stand, alternatively a feeder may be hung directly in a nearby tree.
    %li Select a bird feeder for the type of birds you would like to visit your yard. 
%p.article-text
  While all birds will typically eat from any feeder, a suet type feeder (discussed below) will attract a large variety of birds including bright colored woodpeckers. A great selection of bird feeders can usually be found this time of year at home improvement stores, and range in price from $5.00 and up, but a nice looking feeder can be easily be found for $20 to $30 dollars.
 
// Natural Suet Log – Very attractive to woodpeckers
// 3 – Types of Bird Feed – Several offerings are available and should be readily available from the same place where bird feeders are sold. Depending on the type of feeder you buy, a sunflower (black oil) mix will be good for most feeders and offers a good winter meal for birds. A suet block – which is a compressed block of different types of bird food, may be used in certain types of feeders and will usually attract a variety of birds.
 
// 4 – Placing the feeder in your selected spot – Once the feeder is placed, you may want to consider a squirrel proofing feature, unless you elect to feed them as well. Squirrel baffles may be purchased from most places where bird feed is sold and can be applied directly to the stand.
 
// Squirrel Baffle
// 5 – Wait and Watch – Don’t be surprised if you don’t see many or any birds at first. It may take a week or two before birds begin to notice your offerings, but soon you will have many visitors.
 
// Male and Female Cardinals
 
// Eastern Blue Bird
// Identifying birds can be a relaxing and enjoyable experience, and will allow you to know what types of birds are visiting your feeder(s). I recommend visiting the Audubon Society’s website at: http://birds.audubon.org/birdid/quick-guide to help you ID your birds. 

// For those of you who may live in an apartment or don’t have a yard to attract birds, you can still add some color to your winter landscape on a balcony or deck.  There are a few flowering plants that can survive our winter (with the exception of a deep freeze) in both NC and GA. Try adding some Pansies, Violas, and Snapdragons to pots and planters where they can get full sun and provide them with a little water. You should have some pretty flowers to view for a while!
 
// Winter Planter
// Coming up in the next quarter newsletter: SPRING Gardening!