%p.article-text
  It’s that time of year again; time to start thinking about spring. With warmer weather on the horizon, it is time to begin planning and cultivating your garden. In this quarter’s article we’ll cover some basics on when and how to start an early season garden or container garden.
%p.article-text
  The first thing to do is ask yourself if you would like to grow a plant from seed or if you would like to buy a pre-started plant at your local garden center. While purchasing a pre-started plant at your garden center is definitely easier, I find that you receive greater satisfaction by growing your own plant from seed (which we will cover in a later edition of the newsletter).
  .image-holder
    %img{src: '../img/early_spring_gardening/early_spring_gardening-kit.jpg'}
%p.article-text
  For now though, let’s cover some important information that will be located on the back of a seed packet or the information card in pre-started plants:
%p.article-text
  <b>Map:</b> The first thing I always look at is the map. The map will give you an indication of what time of year the conditions are most favorable for the plant/seedling, based on your location.  The map usually takes into consideration the average date of the last expected frost. The map should also be based on the USDA Plant Hardiness Zone Map which helps to determine if a particular plant can survive in a particular area based on winter temperatures. Greensboro is located in Zone 7a while Kennesaw is located in Zone 7b. The zone map and information can be found at:
  %a{href: 'http://planthardiness.ars.usda.gov/PHZMWeb/' } http://planthardiness.ars.usda.gov/PHZMWeb/
  .image-holder
    %img{src: '../img/early_spring_gardening/early_spring_gardening-map.jpg'}
%p.article-text
  <b>Depth:</b> The recommended depth you should plant a seed.
%p.article-text
  <b>Space:</b> The amount of space needed between each plant for maximum growing efficiency.
%p.article-text
  <b>Harvest:</b> The fun part – of course this is only the amount of time until your plant will provide you with a healthy and delicious crop.
  .image-holder
    %img{src: '../img/early_spring_gardening/early_spring_gardening-seed_packet.jpg'}
%p.article-text
  On the back of the seed packet you will also find information about how long it will take a seed to germinate (emerge from the soil).  It’s also important to look at the date, which shows when the seeds were packed and can be used as a factor in determining how viable the seeds will be: the fresher the better.
%p.article-text
  While we will still see cold for the next couple of months here in North Carolina and Georgia, the time is now to begin preparing for fresh early season vegetables from your garden. Generally speaking, if you are starting from seed – mid to late February is the perfect time to start cool weather vegetables from seed (indoors) for both North Carolina and Georgia. If you would like to start from a Garden Center plant, then late February to early March will be your best bet to start looking for items to plant.  You will want to monitor the weather during this cold growing season – while some of the below vegetables will survive in cold temperatures, others may not be able to survive a hard frost or freeze and may need to be covered or brought inside if planted in a container.
%p.article-text
  Suggestions for early spring herbs/vegetables which can tolerate the cool weather of March and April:
  %ul.two_columns.i{ style: 'font-size: 22px' }
    %li.c Arugula
    %li.c Cilantro
    %li.c Parsnips
    %li.c Beats
    %li.c Dill
    %li.c Peas
    %li.c Broccoli
    %li.c Kale
    %li.c Radishes
    %li.c Cabbage
    %li.c Kohlrabi
    %li.c Spinach
    %li.c Carrots
    %li.c Lettuce
    %li.c Swiss chard
    %li.c Cauliflower
    %li.c Turnips
    %li.c Parsley

%p.article-text
  Gardening can be a fun and relaxing hobby, so get out there and start growing today. Want more information or have questions, feel free to email me and I will do my best to help you out.
  .image-holder
    %img{src: '../img/early_spring_gardening/early_spring_gardening-beds.jpg'}
%p.article-text.c
  Happy Gardening!











