%img.floating-article-image.right{src: "../img/employee_spotlight/employee_spotlight_side_no_gallery.jpg"}
%p.article-text
  Matt Mitchell has been with Orasi since January 2013, and has worked with computers most of his life. He was introduced to web design in high school and before long had designed a web-app timesheet demo. After high school Matt attended UNC Greensboro where he graduated with a Bachelor’s degree in Information Systems. His technical background and diligent work ethic have made him a valuable employee to Orasi. Matt is assigned to the Lash project and is currently working with one of the largest pharmaceutical companies within the project.  His duties encompass not only cover testing but also SQL Validations and training other team members.
%p.article-text
  When Matt’s not working you might find him on a court somewhere playing basketball or you may find this dedicated fantasy football owner managing his team. He is also an avid Duke Fan and tries to attend at least one game a year. Matt enjoys travelling and has been to Jacksonville to see an NFL game and went on a cruise last year to the Bahamas.


%p.article-text
  “Matt has been on the Lash project for a little over a year now and has stepped up and become a very strong resource for the team.  From the project side, he has received rave reviews on his performance and ability to get quality work completed with, more often than not, strict deadlines.  Matt is continuously going above and beyond what is asked of him, whether it be self-learning - a product with which he is unfamiliar or assisting his teammates when they are overloaded with work.  All in all, Matt is an outstanding team player and asset to Orasi as a whole.  “- Hope Isley, Lash Manager