%p.article-text
  It is always fun and interesting to learn more about one another, and over the past year we have done just that. Listed below are several of our exemplary employees and their hobbies and interests.
%hr
%a{href:"http://ruraldirectory.orasi.com/rural_reader_archive/2015-q1/articles/preston.html", onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q1/articles/preston.html', 'newwindow', 'width=800, height=800'); return false;"}
  %img.small-image.centered{src:'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q1/img/preston/opening.jpg'}
%p.article-text.c
  Preston Williamson
%a{href:"http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/articles/employee_spotlight.html", onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/articles/employee_spotlight.html', 'newwindow', 'width=800, height=800'); return false;"}
  %img.small-image.centered{src:'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/img/employee_spotlight/employee_spotlight_side_no_gallery.jpg'}
%p.article-text.c
  Matt Mitchell
%a{href:"http://ruraldirectory.orasi.com/rural_reader_archive/2015-q3/articles/employee_spotlight_kevin_hedgecock.html", onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q3/articles/employee_spotlight_kevin_hedgecock.html', 'newwindow', 'width=800, height=800'); return false;"}
  %img.small-image.centered{src:'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q3/img/employee_spotlight_kevin_hedgecock/opening.jpg'}
%p.article-text.c
  Kevin Hedgecock
