%p.article-text
  The Humane Society of the United States estimates that 6-8 million dogs and cats enter an animal shelter each year. Of those, 2.7 million adoptable animals are euthanized. When I learned those statistics, I knew I had to do something to help.
%h2
  My Foster Journey
%img.floating-article-image.right{src: "../img/foster/foster1.png"}
%p.article-text
  I was just browsing Facebook when I saw in an album of dogs looking for a foster home, a photo of a Bernese puppy looking through a chain link fence. He was in a shelter notorious for parvovirus, a terrible disease that can kill young puppies, so they needed him out ASAP. Before I knew it, I was on my way to pick up a puppy! He was whiny, smelly and wormy … awesome. He was nursed back to health and taken to the vet to be neutered and given all his shots. After a while, he got used to being in a home with people that cared about him. He learned to sit, shake, play with my dog, and was 95% potty trained (which is great for his age). He was adopted within a couple of months. He would have never gotten a chance to learn all those things if he had been left in the shelter. I really missed Scout when he was adopted but it freed up my house to foster another animal that would otherwise be put down.
  .image-holder
    %img{src: '../img/foster/foster2.png'}
  %h4
    Scout
%hr
%img.floating-article-image.left{src: "../img/foster/foster3.png"}
%p.article-text
  Which brings us to my one and only foster-fail. In rescue groups, foster failing is when you get a dog from the shelter with every intention of letting it be adopted when it’s ready…. Ladybug was an urgent case from Gordon County Animal control. She was scheduled for euthanasia at 3 pm. I received a request to foster her at noon. How could I say no? When she arrived, her nails were so long, she couldn’t walk correctly. She was 24 lbs. of skin and bones. Then, she puked for 24 hours straight. Luckily, the vet got her feeling better at no cost to me. For the next 2 weeks after that, I had to make her chicken and rice. I don’t even cook for myself! Once she felt better, she was an absolute hellion. She picked on other fosters, jumped on guests, and warbled incessantly at adoptions, so that no one wanted to give her a chance. While she was wreaking havoc on my house, she began to win over my husband. She wormed her way in. I’m still not entirely sure what happened. She’s now 55 lbs. of trouble, and she’s all mine. She has a wonderful way with the truly tiny puppies that I sometimes foster. She is enough of a puppy herself that she can get them to play and have fun in an otherwise new and scary environment. I love that she can get my foster dogs to loosen up.
  .image-holder
    %img{src: '../img/foster/foster4.png'}
  %h4
    Ladybug
%hr
%p.article-text
  This apparently qualified me for some really special cases from the rescue group.
%img.floating-article-image.right{src: "../img/foster/foster5.png"}
%p.article-text
  Darla has never been in the shelter system. If she had, there is a 99% chance she would have been euthanized due to her poor health. Her owner came to our rescue group for help with her 20+ cats at the urging of an animal control officer. While we were trapping some of her cats to spay/neuter and return, we noticed the mangiest dog we’d ever seen…. and her 6 puppies. We were able to find a foster for the 6 puppies immediately, but Darla came with me. She was put on the most intensive medicine regimen I’ve ever given a foster dog -  8 pills a day and a special spray/shampoo sequence – as well as chicken and rice meals,. She is now out of my doggie ICU and has found a family with children that love her despite her less-than-spectacular looks. She’s growing more fur every day and learning how to be a housedog. She loves snuggling with her new dog-brother. Seeing her improve and continue to improve is the most rewarding foster experience I have ever had.
  .image-holder
    %img{src: '../img/foster/foster6.png'}
    %img{src: '../img/foster/foster7.png'}
    %h4
      Darla
%hr
%p.article-text
%h2
  How Can You Help?
%h3.b
  #1 Best way of all time for ever, like, seriously
%p
%p.article-text
  SPAY OR NEUTER your pets! One unspayed female cat can produce ~88,572 offspring in just 5 years. Spaying and neutering is absolutely the only way the US will get its pet population under control. There are tons of programs that offer low cost or no-cost spay and neuter services.
%h3.b
  Volunteer and Donate
%p
%p.article-text
  Every rescue group, animal shelter and clinic needs help. Some Volunteer positions include:
  %ul
    %li.list-item <i><b>Transport</i></b> - Animals need rides to foster homes, clinics, and adoptions all the time.
    %li.list-item <i><b>Foster</i></b> - The dogs in the stories above are only a portion of the fosters I have had. Each time someone pulls a shelter dog or cat and lets it live with them, that animal becomes prepared for life in a house with people AND a spot is freed at a shelter for another animal to be spared. It’s also a good way to try out a pet before you officially adopt. Foster-fails are a time honored rescue tradition.
    %li.list-item <i><b>Outreach</i></b> - You can help at adoption events or even just share pages and information with your friends and family.
    %li.list-item <i><b>Donate</i></b> - Cat litter, dog or cat food, used collars and crates, or cash are gratefully accepted. Rescue groups can use it all!
%hr
%h3.b
  Local Rescue Groups
%ul
  %li.list-item.b
    GA
    %ul
      %li.list-item *Inspire Pet Rescue - facebook.com/inspirerescue
      %li.list-item Cherokee County Humane Society - cchumanesociety.org
      %li.list-item Fulton County Animal Services -fultonanimalservices.com
  %li.list-item.b
    NC
    %ul
      %li.list-item **Humane Society of the Piedmont - hspiedmont.org
      %li.list-item Red Dog Farm Animal Rescue - reddogfarm.com
%p.l
  * I currently foster for this group
%p.l
  ** Orasi’s Greensboro Office Charity Initiative recipient