%p.article-text
  This holiday season Greensboro Rural Testing participated in two local Angel Tree programs for our charity initiative. As a group we adopted 3 seniors and 2 children for the holiday season and collected items from their wish lists along with monetary donations. The two girls, Isabella and Gabriella, both asked for dolls and bicycles with training wheels. The most common items for the 3 seniors were canned goods and large print books. In total we were able to raise approximately $600 dollars in items and donations for our 5 angels. In addition to their wish list items each senior also received a $50 gift card to Lowes Foods.
%p.article-text
  Senior Wish list Items
%p.article-text
  Children Wish List Items
