%p.article-text
  This November 26th, the Greensboro office held a potluck lunch to celebrate Thanksgiving.  In addition to delicious ham and turkey, employees brought in many tasty dishes to share with the office.  These included mashed potatoes, green bean casserole, salads, meatballs (made by Linley Love), greens brought (courtesy of Lateef Livers), and pigs in a blanket (provided by Brent Monger).  Of course desserts were also brought in including cookies, pie, cranberry sauce, banana pudding and brownies.  After sharing a meal with their Orasi family, employees were able to get an early start to their Thanksgiving weekend.
%p.article-text
  Another of the popular items shared was a salad made by Jessica Marshall.  Below is the recipe she used to prepare this delicious dish.
%hr
%p.article-text
  %b Salad:
  %ul
    %li 1 bag of baby spinach
    %li 1 bag of other lettuce mix (romaine, iceberg, etc)
    %li Candied nuts to taste – maybe ½ cup or so
    %li Dried cranberries to taste – maybe ½ cup or so
    %li 2-3 chopped shallots
    %li Cheese – goat/feta/parmesan to taste – maybe ½-1 cup
    %li 1 apple sliced (fuji/granny smith/etc)

%p.article-text
  %b Dressing – adjust amounts to taste:
  %ul
    %li 1/3 c olive oil
    %li 1/3 c apple cider vinegar
    %li 2-3 tbs good quality raspberry jam
    %li Good pinch of salt
    %li Good pinch of pepper
    %li 1 tbs chopped shallot
    %li Let it sit overnight
