.card
  .header-image{style: "background-image: url('../img/gso_events/rabbit.jpg');"}
  .details
    %h3 The Velveteen Rabbit -  November 13-23
    %span
      UNCG Theatre's upcoming production of The Velveteen Rabbit is set to open on Thursday, November 13th at 7:30 pm in Taylor Theatre.  The play is adapted by UNCG Theatre faculty member Janet Allard based on the story by Margery Williams.
      %p
        %a{href: 'http://performingarts.uncg.edu/events/calendar?eventId=e0lieduj72b15nqnjao12ebobk_20141115T003000Z'} performingarts.uncg.edu/events/calendar?eventId=e0lieduj72b15nqnjao12ebobk_20141115T003000Z
.card
  .header-image{style: "background-image: url('../img/gso_events/tso.jpg');"}
  .details
    %h3 Trans-Siberian Orchestra - Wednesday, November 26
    %span
      The rock opera-producing band travels across North America every year for its annual holiday tour, performing new songs and TSO stalwarts!
      %p
        %a{href: 'http://greensboro.eventful.com/events/trans-siberian-orchestra-/E0-001-073979413-4'} greensboro.eventful.com/events/trans-siberian-orchestra-/E0-001-073979413-4
.card
  .header-image{style: "background-image: url('../img/gso_events/balls.jpg');"}
  .details
    %h3 Running of the Balls - Saturday, December 13th
    %span
      This night run on a 5K course through Sunset Hills takes participants through the largest neighborhood light display in the United States. Started years ago, the residents of this neighborhood decorate their 50' tall trees with 1' wide "Lighted Christmas Balls".
      This unique display creates an atmosphere the whole family will enjoy. Bands and choral groups throughout the course add to the experience, culminating in a block party with cider, hot cocoa and carols.
      %p
        %a{href: 'http://www.therunningoftheballs.com/'} www.therunningoftheballs.com
