%h2
%p.article-text
  Over the past year we have had some fun and challenging “Guess Who” competitions; below are our participants from FY15. Thank you to all who volunteered!
%hr
.eighty
  %p.article-text
    %a{href:'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q1/articles/you_found_me.html', onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q1/articles/you_found_me.html', 'newwindow', 'width=800, height=800'); return false;"} First Quarter Guess Who - Andy Williams
    %ul
      %li I have 14 cousins total and am the youngest on both sides.
      %li I was once quarantined in a Chinese Hospital for “Swine Flu”.
      %li I am right handed but left foot dominant.
      %li I have double jointed thumbs.
      %li I eat with plastic ware because I can taste the metal in silverware.
      %li I was once shocked by electricity cleaning a golf ball washer when I was 16.
.eighty
  %p.article-text
    %a{href:'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/articles/you_found_me.html', onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/articles/you_found_me.html', 'newwindow', 'width=800, height=800'); return false;"} Second Quarter Guess Who - Zach Goins
    %ul
      %li I enjoy working with farm animals, soon to start raising beef cows.
      %li I have a large collection of baseball cards and collectibles.
      %li I enjoy riding 4-wheelers – owned several – last was a Limited Edition Silver Yamaha Grizzly 660.
      %li I have two brothers – ages 26 and 7.
      %li I have traveled to Germany and can speak a little German.
.eighty
  %p.article-text
    %a{href:'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q3/articles/secret_guess_who_information.html', onclick:"window.open('http://ruraldirectory.orasi.com/rural_reader_archive/2015-q3/articles/secret_guess_who_information.html', 'newwindow', 'width=800, height=800'); return false;"} Third Quarter Guess Who - Josh Lee
    %ul
      %li I have attended over 10 schools (I promise it wasn’t because I was a bad kid).
      %li I was all county second team my junior year.
      %li I won the geography bee in 5th grade.
      %li I played the baritone in middle school band.
      %li My favorite TV show is Chuck.
      %li I had bleach blonde hair in high school
