%p.article-text
  Rural Reader’s Guess Who?™ challenge consists of interesting facts and childhood pictures of the “guess who contestant”/secret individual.
%p.article-text
  %ul.l
  %li The Guess Who Challenge will always be virtual – the facts and pictures will be a hidden page within this Rural Reader edition.
  %li Riddles and clues will refer to content within this Rural Reader edition.
  %li Follow the riddles and clues to arrive at the Rural Reader’s Guess Who?™ page.
  %li Please send your guess/submission of who the guess who contestant is to <a href = 'mailto:alissa.taylor@orasi.com?subject=Guess who answer'>Alissa Taylor</a>.
%p.article-text
  This edition's riddle is:
%hr
%p.article-text.c.i.blue.b
  Asia and Africa are where they reside
%p.article-text.c.i.blue.b
  Their life is on the vegetarian side
%p.article-text.c.i.blue.b
  Not a Bison nor a Bull
%p.article-text.c.i.blue.b
  This one is sure to keep your belly full
%hr
%p.article-text.c
  The reward for solving the riddle first will be a <b><u>$25 Visa Gift Card!</b></u>
