%hr

%p.article-text.c.i
  Their name derives from Greek,
%p.article-text.c.i
  This shadow tail is what you seek,
%p.article-text.c.i
  They sweat through their feet,
%p.article-text.c.i
  And are also born blind,
%p.article-text.c.i
  Venture forth and see what you can find!
%hr

%p.article-text.c
  The reward for solving the riddle first will be a <b><u>$25 Visa Gift Card!</b></u>