%ul.article-text
  %li I enjoy working with farm animals, soon to start raising beef cows.
  %li I have a large collection of baseball cards and collectibles.
  %li I enjoy riding 4-wheelers – owned several – last was a Limited Edition Silver Yamaha Grizzly 660.
  %li I have two brothers – ages 26 and 7.
  %li I have traveled to Germany and can speak a little German.
%p.article-text
  Email your answer to
  %a{href: "mailto:alissa.taylor@orasi.com?subject=Guess who answer"} Newsletter Team
