%p.article-text
  Helping farmers fight back
%p.article-text
  Not only
  %span{style: 'color:red'}
    red
  and black,
%p.article-text
  They can also be
  %span{style: 'color:#D8E014'}
    yellow
  ,
  %span{style: 'color:brown'}
    brown
  or
  %span{style: 'color: pink'}
    pink
%p.article-text
  These little guys are your clue to this edition's
  %a{href: 'https://www.youtube.com/watch?v=dQw4w9WgXcQ'} link