%p.article-text
  Rural Reader’s Guess Who?™ challenge consists of interesting facts and childhood pictures of the “guess who contestant”/secret individual.
%p.article-text
  %ul.l
    %li The Guess Who Challenge will always be virtual – the facts and pictures will be a hidden page within this Rural Reader edition.
    %li Riddles and clues will refer to content within this Rural Reader edition.
    %li Follow the riddles and clues to arrive at the Rural Reader’s Guess Who?™ page.
    %li Please send your guess/submission of who the guess who contestant is to <a href = 'mailto:alissa.taylor@orasi.com?subject=Guess who answer'>Alissa Taylor</a>.
%p.article-text
  This edition's riddle is:
%hr
%p.article-text.c.i.blue.b
  Their name derives from Greek,
%p.article-text.c.i.blue.b
  This shadow tail is what you seek,
%p.article-text.c.i.blue.b
  They sweat through their feet,
%p.article-text.c.i.blue.b
  And are also born blind,
%p.article-text.c.i.blue.b
  Venture forth and see what you can find!
%hr

%p.article-text.c
  The reward for solving the riddle first will be a <b><u>$25 Visa Gift Card!</b></u>
  

