%p.article-text
  There were a lot of interesting and fun Halloween costumes this year for our annual Halloween celebration in both the Greensboro and Atlanta offices.  To recap some of our favorite costumes here is a list of the prize winners in both the Greensboro and Atlanta office.
%hr
%p.article-text
  The Greensboro office winners and the prize they received were:
%ol.eighty
  %li.list-item.orasi-blue Stan Grooms received a $100 Visa gift card for his homemade Optimus Prime costume
  %li.list-item.orasi-blue John Martin received a $50 Visa gift card for his Marty McFly costume
  %li.list-item.orasi-blue John Crawford received a $25 Visa gift card for his squirrel costume
%p.article-text
  The Atlanta offices winners and the prize they received were:
%ol.eighty
  %li.list-item.orasi-blue Robin Smith received a $100 Visa gift card for her Rain/Living Dead Doll costume
  %li.list-item.orasi-blue Terri Calderon received a $75 Visa gift card for her Richard Simmons costume
  %li.list-item.orasi-blue Joshua Betancourt received a $50 Visa gift card for his Hobo Clown costume
%p.article-text
  The Greensboro office also had cube decoration contest. There were many spooky cubicles,  but we are just going to list the winners of the contest below.
%ol.eighty
  %li.list-item.orasi-blue Alissa Taylor received a $100 Visa gift card for her spiders and bubbling caldron of dry ice
  %li.list-item.orasi-blue Hope Isley received a $50 Visa gift card for her scary vampire and mummy décor
  %li.list-item.orasi-blue Maria Lao received a $25 Visa gift card for her display of medical items and skeletons
%p.article-text
  The Atlanta office also did contests for "Tastiest Halloween Dessert" and "Guess the Number of Candy Corns".
%p.article-text
  Winners for Tastiest Halloween Dessert:
%ol.eighty
  %li.list-item.orasi-blue Morgan Brazelton received a $25 gift card to Regal Cinemas and Darden Restaurants for her Pumpkin Brownies
  %li.list-item.orasi-blue Joseph Catron received a $25 restaurant gift card for his Fright Brulee
  %li.list-item.orasi-blue Stacey Simmons received a $15 iTunes card for her Death by Chocolate
%p.article-text
  Winner of Guess the Number of Candy Corns:
%ul.eighty
  %li.list-item.orasi-blue Julie Dodd received a $25 Regal Movies gift card.
%hr
%p.article-text.c
  %a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/articles/halloween_g.html'}Original article on last year's Greensboro Halloween festivities
%p.article-text.c
  %a{href: 'http://ruraldirectory.orasi.com/rural_reader_archive/2015-q2/articles/halloween_a.html'}Original article on last year's Atlanta Halloween festivities
