%p.article-text
  The Atlanta office held contests for tastiest Halloween dessert, best costume and Guess the number of Candy Corns.  In the dessert contest, first place went to Morgan Brazelton for her Pumpkin Brownies, in second place was Joseph Catron with his Fright Brulee, and third place went to Stacy Simmons for her Death by Chocolate.  Morgan received a $25 gift cards to Regal Cinemas and Darden Restaurants, Joseph Catron got a $25 restaurant gift card, and Stacy Simmons won a $15 iTunes card.  
%p.article-text
  For the Costume Contest, Robin Smith won first place with her Rain/Living Dead Doll costume, second place went to Terri Calderone, who dressed as Richard Simmons (complete w/Sweatin’ to the Oldies shirt and red and white striped running shorts), and in third place was Joshua Betancourt with his Hobo Clown costume.  Robin won a $100 Visa gift card, Terri a $75 Visa gift card and Joshua a $50 Visa gift card.  The winner of the Candy Corn Guess was Julie Dodd.  Julie won a $25 Regal Movies gift card.
%p.article-text  
  And no Halloween party can be complete without a rousing game of “Wrap the Mummy”.  Check out some of the pictures below.