.author-section
  .avatar
    %img{src: "../#{get_avatar('lily_powell')}"}
  .author-name
    %h4
      by
      %span#author-name Lily Powell
%hr/
%p.article-text
  Halloween in the Greensboro office was a spooky success!  There were costumes ranging from a chicken to Optimus Prime.  Although everyone’s costumes were awesome, there could be only three winners, chosen by an office wide vote.  In first place was Stan Grooms in his homemade Optimus Prime costume, second place went to John Martin for his Marty McFly costume and in third place was John Crawford who dressed as a squirrel.  Stan won a $100 gift card for his first place finish, John Martin received a $50 gift card for second place and John Crawford won a $25 gift card for third.
  .image-holder
    %img{src: '../img/halloween_winners/costume_winners.jpg'}
%hr/
%p.article-text
  In addition to some great costumes, we also had some creative cubicle and office decorations that were voted on by the entire office.  Alissa Taylor was awarded first place for the creepy spider decorations in her office, which included a bubbling cauldron of dry ice.  Hope Isley took second with her scary vampire and mummy décor.  Maria Lao won third place with her display of medical items and skeletons.  Alissa won a $100 gift card for her efforts, Hope received a $50 gift card and Maria Lao got a $25 gift card.
  .image-holder
    %img{src: '../img/halloween_winners/decoration_winners2.jpg'}
%hr/
%p.article-text
  Congratulations to all of our Halloween 2014 winners!  We can’t wait to see what costumes and decorations Halloween 2015 will bring!