%p.article-text
  In what is becoming an annual tradition, the Kennesaw office once again held a Thanksgiving potluck for its employees.  On the Monday before Thanksgiving in a beautifully decorated conference room, employees dined on turkey and ham from Honey Baked Ham and beverages (adult and otherwise) courtesy of Orasi.  To accompany this, employees brought in their signature side dishes and desserts for all to try.  The “Come and Go” set-up allowed employees to nibble throughout the midday, and with so many tasty choices, no one left the feast hungry.  There were also plenty of leftovers to boot!
%p.article-text
  Employees helped the less fortunate on that day as well by donating non-perishable food items for a local charity, MUST Ministries.
%p.article-text
  The Kennesaw Thanksgiving potluck was a great success and a delicious start to the Thanksgiving week!
