%h3
  Taylor Hayes
%p.article-text
  I went to the University of Georgia and graduated in May of 2014 with degrees in Finance and Economics.  I grew up in Atlanta and have lived in the area for the past 14 years.  I’m a big sports fan, and I follow UGA, the Hawks, Braves and Falcons.  In my free time, I play basketball, run/hike at Kennesaw Mountain or the Mill in Roswell when it isn’t too cold, and hang out with my friends, usually watching whatever game is on.   I spent the past summer backpacking through Europe with a couple of friends.  The highlight of the trip was being in Berlin during the World Cup final and experiencing the countless hours of celebration that followed Germany winning.  I also really enjoy going to concerts/comedy shows, and I recently saw Outkast at ATLast and Hannibal Burress at the Buckhead Theatre.
