%hr
%p.article-text.c.orasi-blue
  Daniel Marshall
%img.small-image.centered{src:'../img/meet_the_consultants/daniel.gif'}
%p.article-text
  Meet Daniel Marshall, a new addition to Rural testing in Greensboro. He went to Guilford College and graduated with a degree in Computer Technology-Information Systems. Outside of work he is a musician and plays the bass guitar. He enjoys listening to music considers himself specifically a fanatic of cynical music. Daniel is also a lover of all things horror.
%hr
%p.article-text.c.orasi-blue
  Adam Hamblin
%img.small-image.centered{src:'../img/meet_the_consultants/adam.gif'}
%p.article-text
  Meet Adam Hamblin, a new addition to Rural testing in Greensboro.  He graduated from GTCC with an associate degree in Computer Programming.  Adam loves music (metal and industrial), hockey (Carolina Hurricanes!), and horror movies.  He enjoys playing keyboards and bass, mountain climbing, and riding his motorcycle. Also, sometimes he volunteers with the charity zombie walks or charity motorcycle rides.
