%hr
%h2.u
  Taylor Hayes
%p.article-text
  Meet Michael (Taylor) Hayes, a new addition to Rural testing in Atlanta. Taylor went to school at the University of Georgia and graduated with degrees in Finance and Economics.  He grew up in Atlanta and has lived in the area for the past 14 years.  He’s a big sports fan, and follows UGA, the Hawks, Braves, and Falcons.  Outside of work he plays basketball, runs/hikes at the Kennesaw Mountain, or the Mill in Roswell when it isn’t too cold. Taylor spent the past summer backpacking through Europe with a couple of his friends.  The highlight of the trip for him was being in Berlin during the World Cup final, where he experienced the countless hours of celebration that followed Germany winning.
  .small-image.c
    %img{src: '../img/meet_the_consultants/taylor.gif'}
%p.article-text.b.c
  Welcome, Taylor!
%hr
%h2.u
  Brian Becker
%p.article-text
  Meet Brian Becker, a new addition to Rural testing in Greensboro. He went to the University of New Orleans and majored in Computer Science. When it comes to music he likes classic rock, heavy metal, and anything that's loud. He likes adventure games like Myst, Dungeons of Dredmor, and many others. In addition he likes Weird Al's parodies, and Leslie Nielsen movies. In his free time he likes to build and rebuild things. Currently he is working on some electronic devices for home automation. Brian has a Labrador-Terrier mix named Annabelle, who at times can be a handful, but he enjoys spending time with her.
  .small-image.c
    %img{src: '../img/meet_the_consultants/brian.gif'}
%p.article-text.b.c
  Welcome, Brian!
%hr
%h2.u
  Vicky Kaspor
%p.article-text
  Meet Vicky Kaspor, a new addition to Rural testing in Atlanta. Vicky is originally from Michigan, and she lived in North Carolina for 5 years before moving to Atlanta. She has been living in Georgia almost 7 years now. Her husband was in the Marines for 8 years, and they've been married for 13 years. They have a 10 year old daughter, a dog, 2 cats and a bearded dragon. She enjoys spending time with family and friends.
  .image-holder
    %img{src: '../img/meet_the_consultants/vicky.jpg'}
%p.article-text.b.c
  Welcome, Vicky!
%hr