%p.article-text
  Every quarter during the Orasi year we take a moment to recognize those individuals who consistently go above and beyond the call of duty; not only on their Project but their Orasi careers. While we may only take a few moments during each meeting to recognize these individuals, it certainly does not reflect the long hours, arduous work effort and sacrifices the individuals have made to complete a deadline to meet and exceed a customer’s expectations. It is these individuals that put the “Quality” in Quality Assurance Testing. Thank you for what you do and congratulations to the Quarter 1 – Quarter 3 Award Winners!
%hr

%table.award-winners
  %tr.fifteenpx
    %td.l.b Q1 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Scott Valentine
  %tr.fifteenpx
    %td.l.b Q1 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Lewis Gordon
  %tr.fifteenpx
    %td.l.b Q1 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Nikki Eubanks
  %tr.fifteenpx
    %td.l.b Q1 FY15 Rural Testing Lead
    %td.c.b.orasi-blue Perry Thomas
%hr
%table.award-winners
  %tr.fifteenpx
    %td.l.b Q2 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Justin Phlegar
  %tr.fifteenpx
    %td.l.b Q2 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Kevin Hedgecock
  %tr.fifteenpx
    %td.l.b Q2 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Michael Simpkins
  %tr.fifteenpx
    %td.l.b Q2 FY15 Rural Testing Lead
    %td.c.b.orasi-blue Nikki Eubanks
%hr
%table.award-winners
  %tr.fifteenpx
    %td.l.b Q3 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Stanley Grooms
  %tr.fifteenpx
    %td.l.b Q3 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Brent Monger
  %tr.fifteenpx
    %td.l.b Q3 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Jason Davis
  %tr.fifteenpx
    %td.l.b Q3 FY15 Rural Testing Consultant
    %td.c.b.orasi-blue Anna Phillips
  %tr.fifteenpx
    %td.l.b Q3 FY15 Rural Testing Lead
    %td.c.b.orasi-blue Andrew Spell
