.author-section
  .avatar
    %img{src: "../#{get_avatar('john_martin')}"}
  .author-name
    %h4
      by
      %span#author-name John Martin
%hr/
%p.article-text
  CDW, or Computer Discount Warehouse, is a large scale provider of technology products to a multitude of business, government, and educational entities throughout the United States and Canada.  Since the inception of the relationship several years ago, Orasi and CDW have continued to maintain a solid business-client partnership utilizing a total of 11 Orasi employees across multiple internal CDW projects in addition to the support Orasi provides for CDW’s Hewlett Packard testing tools.
%p.article-text
  The Orasi-CDW team’s main focus is leading the charge in the maintenance and new development of CDW’s automated regression testing suite; currently home to more than 2,000 tests. The team is split into three different internal project groups based upon application: iSeries, SPS, and Web.  These applications cover a large part of the internal CDW process ranging from their AS400 system (iSeries), to its GUI overlay SPS (Sales Productivity Suite), and finally to their eCommerce website (Web). 
%p.article-text
  CDW is continuing to expand their automated testing suite while currently looking into new and different testing methodologies – we hope to continue and grow our well established relationship with CDW.
