%p.article-text
  Smith & Nephew is one of the leading manufacturers and suppliers of medical equipment with locations, sales, and projects spanning across the world.  Since its inception in 2012, the Orasi-Smith & Nephew relationship has steadily grown, and today Smith & Nephew is one of Orasi’s Top 10 Service Customers.
%p.article-text
  The Orasi-Smith & Nephew team consists of 5 Orasi team members,with project coverage on a multitude of internal Smith & Nephew ventures across the globe: Singapore, Dubai, and the United Kingdom to name a few.  The Orasi team works in tandem with the QA Development team and the Functional Analyst Team (Business) as ALM Administrators for internal projects by creating testing plans and testing strategies, business requirements review, defect tracking and reporting, documentation creation and maintenance, and ensuring the testing practices meet FDA regulations where applicable.
%p.article-text
  We hope to expand our well established relationship with Smith & Nephew, enabling them to remain a Top 10 Orasi Service Customer.
  .image-holder
    %img{src: '../img/project_spotlight_smith_nephew/image20.jpg'}
