#recipe-content
  %h3 Ingredients:
  %ul
    %li 2 cans (7.5 oz. each) refrigerated biscuits
    %li 4 oz. Mozzarella cheese, cut into 20 cubes
    %li 4 tbsp. butter, melted
    %li 1/2 tsp. Italian seasoning
    %li 1/2 tsp. garlic powder
    
  %h3 Instructions:
  %ol
    %li Preheat oven to 400°F.
    %li Separate biscuits. 
    %li Place one cube of cheese in the center of each biscuit. 
    %li Carefully wrap the biscuit dough around the cheese and seal. 
    %li Place seam side down about an inch apart on an ungreased baking sheet. 
    %li Bake 10 minutes or until the biscuits are golden brown and the cheese is melted.
    %li While the biscuits bake, mix the butter, Italian seasoning and garlic powder together and set aside.
    %li Remove the biscuits from the oven and immediately brush with butter mixture. Serve warm.
  %hr
  %p.article-text
    From <a href="http://www.lovebakesgoodcakes.com/">Love Bakes Good Cakes</a>.
    .image-holder
      %img{src: '../img/recipe/recipe.png'}  