%ul.article-text
	%li I have attended over 10 schools (I promise it wasn’t because I was a bad kid)
	%li I was all county second team my junior year. (Didn’t put the sport, would probably give it away)
	%li I won the geography bee in 5th grade.
	%li I played the baritone in middle school band.
	%li My favorite TV show is Chuck.
	%li I had bleach blonde hair in high school
%p.article-text
	Email your answer to the
	%a{href: "mailto:alissa.taylor@orasi.com?subject=Guess who answer"} Newsletter Team