%p.article-text
  On September 26th, Rural Testing put together a diaper shower for Kristi Collins and her sweet baby girl Lennon Marie, who will be arriving very soon. Kristi was showered with a multitude of diapers, as well as wipes, shampoos, books and other baby necessities. 
%p.article-text
  We all had a great time celebrating with Kristi! We enjoyed delicious cake, fruit, and other goodies during the shower. We are beyond excited to have the opportunity to meet sweet Lennon very soon. Congratulations, Kristi!
