%hr
%p
%p
%img.c{src: '../img/wrong_tail/dramatic_tail.gif', width: '80%'}
%p
%p
%hr
%p.article-text.c
  You've identified the right <i>tail</i>,
%p.article-text.c
  But you're on the wrong <b>trail!</b>
