-locals = {author: 'Lily Powell',title: "Coding Challenge: Season Two", folder_name: 'coding_challenge', no_gallery: true}
=Haml::Engine.new(File.read(File.expand_path('../template.html.haml', __FILE__))).render(Object.new,locals)
