-locals = {author: 'Zach Goins',title: "Growing Your Own Slice of Paradise",folder_name: 'pineapple', no_gallery: true}
=Haml::Engine.new(File.read(File.expand_path('../template.html.haml', __FILE__))).render(Object.new,locals)
